* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

ol,
ul,
a {
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
}

input,
button {
    outline: none;
    border: none;
}
body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(23, 29, 37);
    height: 100px;
    padding: 0 280px;

    #active {
        color: #1a9fff;
        text-decoration: underline;

    }

    .logo {
        padding-top: 28px;

        a {
            img {
                width: 170px;
                height: 44px;
            }
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        li {
            margin-right: 15px;

            a {
                font-weight: 550;
                color: #dcdedf;
                font-size: 16px;
                font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
                line-height: 16px;
            }

            a:hover {
                color: #fff;
            }
        }
    }

    .right-info {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: end;

        li {
            margin-left: 10px;
            color: #b8b6b4;
            height: 22px;

            &:first-child {
                background: #5c7e10;

                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            a {
                font-size: 14px;
                color: #b8b6b4;
                text-align: center;
            }

        }

        .login {
            color: #b8b6b4;
            position: relative;
            // &:hover>ul#dropdown-language {
            //     // display: block;
            //     transform: scale(1);
            // }

            ul#dropdown-user-infor {
                transform: scale(0);
                position: absolute;
                width: 200px;
                // display: block;
                background-color: #363c44;
                z-index: 99;
                right: 0;
                padding: 5px;
                transition: all 0.1s ease-out;

                li {
                    width: 100%;
                    margin: 0;
                    text-align: start;

                    &:first-child {
                        background: none;
                        display: block;
                        padding: 0;
                    }
                }
            }
        }



        .login:hover {
            color: #fff;
            cursor: pointer;
        }


        .language {
            color: #b8b6b4;
            position: relative;
            // &:hover>ul#dropdown-language {
            //     // display: block;
            //     transform: scale(1);
            // }

            ul#dropdown-language {
                transform: scale(0);
                position: absolute;
                width: 200px;
                // display: block;
                background-color: #363c44;
                z-index: 99;
                right: 0;
                padding: 5px;
                transition: all 0.1s ease-out;

                li {
                    width: 100%;
                    margin: 0;
                    text-align: start;

                    &:first-child {
                        background: none;
                        display: block;
                        padding: 0;
                    }
                }
            }
        }

        .language:hover {
            color: #ffff;
            cursor: pointer;
        }
    }
}
#main{
    background:#1b2838;
    width: 100vw;
    height: 100vh;
}
.nav-bar {
    padding-top: 30px;
    transform: translateX(34%);
    width: 61%;
    background: url(/public/images//v6/temp/cluster_bg_2.png) bottom center no-repeat;;

.right-nav-bar {
    display: flex;
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(27, 45, 122) 70%);
    height: 35px;
    padding: 3px 4px 2px;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
    

    li {
        display: inline;
        padding-right: 20px;
        padding-left: 3px;




        a {
            color: white;
            display: inline-block;

            margin-left: px;
            font-weight: 600;

            font-size: 13px;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
            font-family: Arial, Helvetica, sans-serif;
            line-height: 34px;


        }
    }

    .nav-bar-search {

        padding-top: 1px;
        margin-left: 120px;



        input {
            height: 100%;
            background-color: #316282;
            border-radius: 2px;
            float: right;
            // margin-left: 21px;


        }

        

        a {
            position: absolute;
            margin-left: 165px;

            img {
                width: 29px;
                height: 27px;
                // margin-left: 20px;

            }

        }

    }

}

.nav-bar-search:hover {

    border: 1px solid #79d1d8;


    a {
        background: #79d1d8;
    }
}
}
.back-ground-main{
    padding-bottom: 64px;
    margin-bottom: -30px;
    background: url(./img/back_ground/cluster_bg_2.png)bottom center no-repeat;
}
.breadcrumb{    
    transform: translate(20.7%);
    color: #56707f;
    
    a{
        color: #8f98a0;
        margin-top: 22px;
        display: inline-block;

    }
    a:hover{
        color: white;
    }
h1{
    margin-top: 5px ;
   font-size: 34px; 
   font-family: "Motiva Sans", Sans-serif;
   font-weight: 300;
   color: #fff;
}
}
.product-content{
    display: flex;
    justify-content: center;
    transform: translate(1%);
    .product-infor{
        .product{
            background-color: rgba(0,0,0,0.2);
            display: flex;
            width: 616px;
            height: 77px;
            padding: 0 15.4px;
            img{
                width: 120px;
                height: 45px;
                margin-top: 15px;
            }
            .product-detail{
                margin-top: 17px;
                display: flex;
                justify-content: space-between;
                span{
                    color: #c7d5e0;
                    margin-left: 20px;
                }
                .price{
                    color: #fff;
                    padding-left: 280px;
                }
            }
        }
        .sidedown-product{
            
        }
        .product-for{
            color: #c7d5e0;
            margin-top: 20px;
            display: flex;
            .total-price{
                padding-left: 465px;
            }
        }
        .small-content{
            color: #c6d4df;
        }
        .add-delete-product{
            display: flex;
            margin-top: 20px;
            float: right;
            span{
                display: inline-block;
                margin-top: 5px;
                margin-left: 25px;
            } 
            
           .add{
            margin-right: 20px;
            width: 156px;
            height: 30px;
            background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
            border-radius: 2px;
            cursor: pointer;
            }

           .delete{
            border-radius: 2px;
            width: 156px;
            height: 30px;
            cursor: pointer;
            background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);}
        }
        .card-notice{

        }
    }
    .more-infor{
        background-color: black;
        width: 320.95px;
        height: 100px;
    }
}
