* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

ol,
ul,
a {
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
}

input,
button {
    outline: none;
    border: none;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(23, 29, 37);
    height: 100px;
    padding: 0 280px;

    #active {
        color: #1a9fff;
        text-decoration: underline;

    }

    .logo {
        padding-top: 28px;

        a {
            img {
                width: 170px;
                height: 44px;
            }
        }
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        li {
            margin-right: 15px;

            a {
                font-weight: 550;
                color: #dcdedf;
                font-size: 16px;
                font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
                line-height: 16px;
            }

            a:hover {
                color: #fff;
            }
        }
    }

    .right-info {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: end;

        li {
            margin-left: 10px;
            color: #b8b6b4;
            height: 22px;

            &:first-child {
                background: #5c7e10;

                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            a {
                font-size: 14px;
                color: #b8b6b4;
                text-align: center;
            }

        }

        .login {
            color: #b8b6b4;
            position: relative;
            // &:hover>ul#dropdown-language {
            //     // display: block;
            //     transform: scale(1);
            // }

            ul#dropdown-user-infor {
                transform: scale(0);
                position: absolute;
                width: 200px;
                // display: block;
                background-color: #363c44;
                z-index: 99;
                right: 0;
                padding: 5px;
                transition: all 0.1s ease-out;

                li {
                    width: 100%;
                    margin: 0;
                    text-align: start;

                    &:first-child {
                        background: none;
                        display: block;
                        padding: 0;
                    }
                }
            }
        }



        .login:hover {
            color: #fff;
            cursor: pointer;
        }


        .language {
            color: #b8b6b4;
            position: relative;
            // &:hover>ul#dropdown-language {
            //     // display: block;
            //     transform: scale(1);
            // }

            ul#dropdown-language {
                transform: scale(0);
                position: absolute;
                width: 200px;
                // display: block;
                background-color: #363c44;
                z-index: 99;
                right: 0;
                padding: 5px;
                transition: all 0.1s ease-out;

                li {
                    width: 100%;
                    margin: 0;
                    text-align: start;

                    &:first-child {
                        background: none;
                        display: block;
                        padding: 0;
                    }
                }
            }
        }

        .language:hover {
            color: #ffff;
            cursor: pointer;
        }
    }
}

.main {
    height: 335vh;
    padding: 0 16px;
    background-image: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);

    .main-content {
        display: flex;
        flex-direction: row;
        padding-top: 31px;
        position: relative;
        overflow: hidden;

        .left-content {

            display: flex;
            flex-direction: column;
            padding-left: 50px;

            .header-menu {
                a {

                    img {
                        width: 178px;
                        height: 65px;
                        margin-bottom: 6px;
                    }

                    h1 {
                        color: #88bde9;
                        font-size: 18px;
                    }

                    p {
                        color: #ced8e4;
                        font-size: 16px;
                    }
                }
            }

            h2 {

                color: #536f86;
                font-size: 14px;
                font-weight: bolder;
                font-family: "Motiva Sans", Sans-serif;

            }

            .first-box {
                display: flex;
                flex-direction: column;

                a {
                    margin: 2px 0;
                    color: #7A8B9D;
                    font-size: 12px;
                    font-weight: 550;
                    width: fit-content;
                    font-family: "Motiva Sans", Sans-serif;
                }
            }

            .second-box {
                display: flex;
                flex-direction: column;

                a {
                    margin: 2px 0;
                    color: #7A8B9D;
                    font-size: 12px;
                    font-weight: 550;
                    width: fit-content;
                    font-family: "Motiva Sans", Sans-serif;
                }
            }

            .third-box {
                display: flex;
                flex-direction: column;

                a {
                    margin: 2px 0;
                    color: #7A8B9D;
                    font-size: 12px;
                    font-weight: 550;
                    width: fit-content;
                    font-family: "Motiva Sans", Sans-serif;
                }
            }
        }


    }
}

.nav-bar {

    position: absolute;
    left: 50%;
    transform: translateX(-42%);
    top: 24px;
    width: 61%;


    .right-nav-bar {
        display: flex;
        background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(27, 45, 122) 70%);
        height: 35px;
        padding: 3px 4px 2px;
        border-radius: 2px;
        box-shadow: 0 0 4px black;

        li {
            display: inline;
            padding-right: 20px;
            padding-left: 3px;




            a {
                color: white;
                display: inline-block;

                margin-left: px;
                font-weight: 600;

                font-size: 13px;
                text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
                font-family: Arial, Helvetica, sans-serif;
                line-height: 34px;


            }
        }

        .nav-bar-search {

            padding-top: 1px;
            margin-left: 120px;



            input {
                height: 100%;
                background-color: #316282;
                border-radius: 2px;
                float: right;


            }

            // input:hover {
            //     border: 1px solid #79d1d8;

            // }

            a {
                position: absolute;
                margin-left: 165px;

                img {
                    width: 29px;
                    height: 27px;

                }

            }

        }

    }

    .nav-bar-search:hover {

        border: 1px solid #79d1d8;


        a {
            background: #79d1d8;
        }
    }
}

.center-body {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 300;
        color: #fff;
        margin-bottom: 10px;
        transform: translate(14%);
    }

    .must-see {
        left: 50%;
        top: 50%;
        transform: translate(14%);
        display: flex;

        p {
            font-size: 14px;
            font-family: "Motiva Sans", Sans-serif;
            font-weight: 300;
            color: #fff;
            margin-bottom: 10px;
        }

        // left: 50%;
        // top: 20%;
        // transform: translateX(-50%);

        img {
            width: 920px;
            height: 450px;
            box-shadow: 0 0 15px black;

        }

        .prev-box-mst {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
            width: 45px;
            height: 108px;
            padding: 36px 11px;
            top: 171px;
            left: -55px;
            position: absolute;
            cursor: pointer;

            div {
                background-image: url(./img/Logo/arrows.png);
                width: 23px;
                height: 36px;
                background-position-x: 23px;

            }

        }

        .prev-box-mst:hover {
            background: linear-gradient(to right, rgba(171, 218, 244, 0.3) 5%, rgba(171, 218, 244, 0) 95%);
        }

        .next-box-mst {
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
            width: 45px;
            height: 108px;
            top: 171px;
            position: absolute;
            left: 930px;
            padding: 36px 11px;
            cursor: pointer;

            div {
                background-image: url(./img/Logo/arrows.png);
                width: 23px;
                height: 36px;
            }
        }

        .next-box-mst:hover {
            background: linear-gradient(to right, rgba(171, 218, 244, 0) 5%, rgba(171, 218, 244, 0.3) 95%);
        }
    }

    .special-games {
        padding-top: 100px;
        transform: translate(14%);

        P {
            font-size: 14px;
            font-family: "Motiva Sans", Sans-serif;
            font-weight: 300;
            color: #fff;
            margin-bottom: 10px;
            margin-left: -153px;
        }

        ul {

            display: flex;
            flex-direction: row;
            justify-content: center;

            li {

                a {
                    img {
                        width: 306px;
                        height: 390px;
                        box-shadow: 0 0 17px black;
                        margin-right: 11px;
                    }
                }
            }
        }
    }

    .type-games {
        padding-top: 100px;
        transform: translate(13.5%);
        padding-bottom: 60px;

        h2 {
            font-size: 14px;
            font-family: "Motiva Sans", Sans-serif;
            font-weight: 300;
            color: #fff;
            margin-bottom: 10px;
        }

        ul {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                a {
                    img {
                        width: 225px;
                        height: 223px;
                        box-shadow: 0 0 17px black;
                        margin-right: 11px;
                    }
                }
            }
        }
    }
}

.expanded-menu {
    padding-top: 1px;
    margin-top: 60px;
    transform: translate(13.5%);
    background: linear-gradient(to bottom, rgba(42, 71, 94, 1.0) 5%, rgba(42, 71, 94, 0.0) 70%);

    .expanded-content {
        position: relative;
        // background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: -30px;
        width: 100%;
        border-radius: 3px;

        .L-expand-menu {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            width: 620px;
            height: 840px;

            .header-expanded {
                display: flex;
                flex-direction: row;
                // background: #44708d;
                border: none;
                margin-bottom: 7px;


                .new-hot {

                    background-color: #2a475e;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    // border: none;
                }

                .best-sale {
                    // background-color:#2a475e;
                    padding-left: 10px;
                    padding-right: 10px;
                    // border: none;
                }

                .popular-cmsoon {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .endow {
                    padding-left: 10px;
                    padding-right: 10px;
                }



            }

            .Lnh-content {

                .tab-see-more {
                    // margin-top: 8px;

                    color: #c6d4df;
                    align-items: center;
                    display: flex;
                    justify-content: right;
                    background: rgba(0, 0, 0, 0.2);

                    a {
                        padding: 4px 15px;
                        color: #c6d4df;
                        margin-left: 2px;
                        border: 0.5px solid#c6d4df;
                        border-radius: 4px;
                        height: auto;
                        margin-top: 7px;
                        margin-right: 7px;
                    }

                    a:hover {
                        color: #fff;
                        border: 0.5px solid#fff;
                    }
                }

                a {
                    display: flex;
                    background: rgba(0, 0, 0, 0.2);
                    height: 72px;
                    margin-bottom: 5px;



                    img {

                        display: inline;
                        height: 72px;
                    }

                    .tab-content {
                        
                        display: flex;
                        .tab-mid-content {
                            margin-top: 11px;
                            margin-left: 15px;
                            img{
                                width: 20px; 
                                height: 20px; 
                            }

                            .tab-item-name {
                                color: #c7d5e0;
                                line-height: 18px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: block;
                                transition: color 0.25s;
                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;
                            }

                            .tag-tab-content {
                                margin-bottom: 10px;
                                line-height: 20px;

                                .top-tag {
                                    color: #384959;
                                    line-height: 20px;
                                    font-size: 12px;
                                    font-family: Arial, Helvetica, sans-serif;
                                }
                            }

                        }

                        .tab-mid-price-content {
                            // float: right;
                            color: #fff;
                            margin-top: 30px;
                            padding-left: 40px;
                            right: 0;
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                    
                    
                }
                a:hover{
                    margin-right: -26px; 
                    background: #95bbd4;
                    border: none;
                    .tab-content{
                        .tab-mid-content{
                            .tab-item-name{
                                color: #000;
                            }
                            .top-tag{
                                color: #000;
                            }
                            
                        }
                        .tab-mid-price-content{
                            color: #000;
                        }
                    }
                    &:focus{
                    background: #95bbd4;
                    margin-right: -26px; 
                    }
                }
                
            }
        }

        .R-expand-menu {

            width: 306px;
            margin-top: 38px;
            margin-left: 5px;
            background: linear-gradient(to right, #95bbd4 5%, #859bac 95%);

            .tab-preview-container {
                margin-left: 15px;

                h2 {
                    font-family: 'Times New Roman', Times, serif;
                    letter-spacing: none;
                    font-weight: 100px;
                    margin-top: 20px;
                    font-size: 21px;
                    color: #333;
                    height: 30px;
                    padding-right: 8px;

                }

                .preview {

                    border-radius: 2px;
                    padding: 3px;
                    width: 270px;
                    background-color: rgba(38, 54, 69, 0.6);

                    .evaluate {
                        margin-left: 2px;
                        color: #c6d4df;

                    }
                }

                .tags {

                    margin-top: 10px;
                    height: 22px;

                    a {
                        color: #fff;
                        background-color: rgba(38, 54, 69, 0.6);
                        border-radius: 2px;
                        padding: 2px;
                        font-size: 14px;
                        margin-right: 2px;
                    }
                }

                .tab-pic-gms {
                    img {
                        margin-top: 2px;
                        width: 274px;
                        height: 150px;
                    }
                }
            }

        }
    }
}

.option-ex {
    color: white;
    line-height: 29px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    // background-color:   #2a475e;
}

footer {

    .content-login {
        a {
            color: #fff;
        }

        padding: 25px 0;
        width: 100%;
        background-color: #000;

        .more-content {
            color: #67c1f5;
            font-size: 24px;
            text-align: center;
            font-family: "Motiva Sans", Sans-serif;

        }

        p {


            padding-top: 16px;
            text-align: center;
            font-size: 15px;
            color: #8f98a0;
            font-family: "Motiva Sans", Sans-serif;
            font-weight: 300;

        }

        .style-button {
            text-align: center;

            p {
                padding: 0;

                a:hover {
                    color: #67c1f5;
                }
            }

            .box-login {
                margin-top: 15px;
                text-align: unset;
                display: inline-block;
                border-radius: 2px;
                width: 105px;
                height: 30px;
                background: #799905;
                background: -webkit-linear-gradient(top, #799905 5%, #536904 95%);
                background: linear-gradient(to bottom, #799905 5%, #536904 95%);

                span {
                    display: inline-block;
                    margin-top: 5px;
                    color: #D2E885 !important;
                }
            }

            .box-login:hover {
                background: #768e1e;

                span {
                    color: #fff !important;
                }
            }

        }
    }

    .small-footer {
        height: 200px;

        a {
            color: #fff;
        }

        position: relative;
        background: #171a21;


        .footer-content {
            margin: 0 289px;
            color: #8F98A0;
            width: 940px;
            height: 200px;
            padding-top: 16px;

            .div-rule {
                height: 8px;
                border-top: 1px solid #363c44;
            }

            .footer-logo-steam {
                margin-top: 10px;
                float: right;
            }

            .footer-logo-valve {
                margin-top: 10px;

                img {

                    width: 88px;
                    height: 25px;
                }
            }

            .footer-text {
                margin-top: 10px;
                margin-left: 12px;
                color: #8F98A0;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 20px;

                a {
                    color: #C6D4DF;
                }

                a:hover {
                    color: #fff;
                }

            }

            .valve-links {
                width: 654px;
                height: 18.4px;
                position: absolute;
                display: flex;
                flex-direction: row;
                margin-top: 8px;
                font-family: "Motiva Sans", Sans-serif;
                font-weight: normal;
                font-size: 13px;
                color: #61686D;

                a {
                    color: #C6D4DF;
                    outline: 0px none;

                    img {
                        align-items: center;
                        display: inline;
                        height: 16px;
                        width: 16px;
                    }
                }

                a:hover {
                    color: #fff;
                }
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}